@import '../../assets/styles/assets';

.login {
  &-wrapper {
    &-form {
      padding: 50px 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .primary-button {
        margin-top: 20px;
      }
    }

    &-content {
      text-align: center;
      padding: 20px 0 0;
      
      .recover-link {
        color: black;
        border-bottom: 1px solid black;
        font-size: 16px;

        &:hover {
          outline: none;
        }
      }

      .instruction {
        text-align: left;
        margin: 20px 10px 40px;
        font-size: 14px;
      }

      img {
        width: 100%;
      }
    }
  }
}