// fonts
$color-primary: #024890;
$color-secondary: #F2F2F2;
$color-orange: #e56d00;
$color-white: #fff;
$color-black: #000;
$color-notif: #ef2551;
$color-content: #242424;
$color-content2: #6d6d6d;
$color-link: #00aeef;
$color-success: #2db566;

// colors
$font-bold: 'font-bold';
$font-medium: 'font-medium';
$font-regular: 'font-regular';
